/*
max-width MQs:

0-600px:        Phone
600-900px:      Tablet Portrait
900- 1200px:    Tablet Landscape
**1200-1800px:    where our normal styles apply    

min-width MQs:

1800px+ :       Big desktop    
1920 x 1200 = Caitlin Laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout >components

1em=16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #fff; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }

.header__nav {
  font-size: 1.6rem;
  height: 4rem; }
  @media (min-width: 112.5em) {
    .header__nav {
      font-size: 2rem; } }
  .header__nav-link {
    color: #fff;
    text-decoration: none; }
    .header__nav-link:hover {
      color: #f27181; }

.header__float-question {
  font-family: "Merriweather";
  color: #f7f7f7;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3.7rem;
  letter-spacing: 2px;
  text-align: center; }

.intro-box__text-heading, .intro-box__text-paragraph {
  color: #777;
  text-align: center; }

.intro-box__text-heading {
  font-size: 5rem;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.5rem; }

.intro-box__text-paragraph {
  font-size: 3rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px; }

.u-temporary-border-box-1 {
  border: 3px solid red; }

.u-temporary-border-box-2 {
  border: 3px solid orange; }

.u-temporary-border-box-3 {
  border: 3px solid yellow; }

.u-temporary-border-box-4 {
  border: 3px solid green; }

.u-temporary-border-box-5 {
  border: 3px solid blue; }

.u-temporary-border-box-6 {
  border: 3px solid blueviolet; }

.header__nav {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center; }
  .header__nav-list {
    display: flex; }
  .header__nav-item {
    margin-right: 2rem; }

.header__hero-logo {
  width: 30vw;
  padding: 10rem 0;
  margin: 0 auto; }
  .header__hero-logo-box {
    background-image: url(/assets/2015/header-background-1.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex; }

.header__hero-trans {
  position: relative;
  background-color: #192a31;
  transform: translateY(-3px); }
  .header__hero-trans-books {
    height: 10vw;
    display: flex;
    margin: 0 auto; }

.header__float {
  position: relative; }
  .header__float-box {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.8rem solid #f27181;
    background-color: #00232f;
    margin: 0 auto;
    width: 57.5rem; }
  .header__float-question {
    padding: 3rem 10rem; }

.intro-box {
  position: relative;
  height: 50%;
  margin-top: -10rem; }
  .intro-box__image {
    background-repeat: none;
    height: auto; }
    .intro-box__image-box {
      position: relative;
      overflow: hidden;
      padding-top: 10rem; }
      .intro-box__image-box--body {
        position: relative;
        left: 0;
        bottom: -10rem;
        z-index: 1; }
      .intro-box__image-box--caitlin {
        position: absolute;
        left: 25%;
        bottom: 0;
        z-index: 2; }
      .intro-box__image-box--heart {
        position: absolute;
        top: 50%;
        right: 4rem;
        transform: translate(-50%, -50%); }
  .intro-box__text {
    position: absolute;
    display: block;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 80rem;
    padding: 0 10rem;
    align-items: center; }
    .intro-box__text-heading {
      padding: 1rem 0 4rem;
      margin-bottom: 5rem; }
    .intro-box__text-paragraph {
      width: 60rem;
      position: relative;
      margin-top: 5rem; }

.services__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .services__box-left, .services__box-right {
    position: relative;
    padding: 8rem 8rem;
    width: 50%; }
  .services__box-left {
    padding-bottom: 12rem;
    background-color: #192a31; }
    .services__box-left--outer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .services__box-left--outer-img {
        transform: translate(-2.12rem, 4.5rem); }
    .services__box-left--inner {
      width: 46rem;
      height: 25rem;
      border: 2.5rem solid #1d6e79;
      margin: 0 auto;
      padding: 5rem 5rem;
      background-color: #fff; }
  .services__box-right {
    background-color: #1d6e79; }
    .services__box-right--outer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .services__box-right--outer-img {
        transform: translate(2.25rem, -6.1rem); }
    .services__box-right--inner {
      width: 46rem;
      height: 25rem;
      border: 2.5rem solid #1d6e79;
      margin: 0 auto;
      padding: 5rem 5rem;
      background-color: #fff;
      border: 2.5rem solid #00232f; }

.cta {
  position: relative; }
  .cta__box {
    position: relative;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(/assets/2015/background-flowers.jpg);
    background-size: cover; }
  .cta__text {
    font-family: "Merriweather";
    color: #004e66;
    font-size: 4rem;
    font-style: italic;
    letter-spacing: 1.5px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(157, 196, 139, 0.7);
    width: 100vw;
    padding: 4rem 0; }
    .cta__text-img {
      position: relative;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
  .cta__btn {
    position: absolute;
    top: 60%;
    right: 20%;
    transform: translateY(-20%);
    width: 30rem;
    background-color: #00232f;
    color: #fff;
    padding: 2rem 4rem;
    font-family: "Merriweather";
    font-size: 2rem;
    border: solid 1rem #f27181; }

.footer {
  height: 10rem;
  background-color: #000; }

.legal {
  position: relative;
  color: #f7f7f7;
  text-align: center; }

.section-intro {
  height: auto;
  background-color: #f7f7f7; }

.section-services {
  height: auto;
  width: 100vw;
  background-color: #1d6e79; }

.section-cta {
  height: 50rem; }
