*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background-color: #f7f7f7; }

.u-temporary-border-box {
  border: 3px solid hotpink; }

.header__nav {
  background-color: #000;
  font-size: 2rem;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center; }
  .header__nav-list {
    display: flex; }
  .header__nav-item {
    margin-right: 2rem; }
  .header__nav-link {
    color: #fff;
    text-decoration: none; }
    .header__nav-link:hover {
      color: #f27181; }

.header__hero-logo {
  width: 30vw;
  padding: 7rem 0;
  margin: 0 auto; }
  .header__hero-logo-box {
    background-image: url(/assets/2015/header-background-1.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex; }

.header__hero-trans {
  position: relative;
  background-color: #192a31;
  transform: translateY(-3px); }
  .header__hero-trans-books {
    height: 10vw;
    display: flex;
    margin: 0 auto; }

.header__float {
  position: relative; }
  .header__float-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 1.8rem solid #f27181;
    background-color: #00232f;
    margin: 0 auto;
    width: 40%; }
  .header__float-question {
    font-family: 'Merriweather';
    color: #f7f7f7;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.7rem;
    text-align: center;
    padding: 2rem 5rem; }
