*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box; }

.oce-1-nav {
  background-color: #000;
  font-size: 2rem;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center; }
  .oce-1-nav__list {
    display: flex;
    justify-content: space-between; }
  .oce-1-nav__item {
    display: flex;
    justify-content: space-between; }
  .oce-1-nav__link {
    color: #fff; }
