@mixin center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin inner-box {
  width: 46rem;
  height: 25rem;
  border: 2.5rem solid $color-primary-blue-1;
  margin: 0 auto;
  padding: 5rem 5rem;
  background-color: $color-white;
}

@mixin outer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
max-width MQs:

0-600px:        Phone
600-900px:      Tablet Portrait
900- 1200px:    Tablet Landscape
**1200-1800px:    where our normal styles apply    

min-width MQs:

1800px+ :       Big desktop    
1920 x 1200 = Caitlin Laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout >components

1em=16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // @media(max-width:600px) //600/16
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // @media (max-width: 900px) {  //  900/16 = 56.25em
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // @media (max-width: 1200px) { //  1200/16 = 75em
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // @media (min-width: 1800px) { //  1800/16 = 112.5em
    @media (min-width: 112.5em) {
      @content;
    }
  }
  @if $breakpoint == largest-desktop {
    @media (min-width: 120em) {
      @content;
    }
  }
}
