//COLORS
$color-primary-pink: #f27181;
$color-primary-blue-1: #1d6e79;
$color-primary-blue-2: #004e66;

$color-dark-1: #00232f; //use darken for darker shade of dark-2
$color-dark-2: #192a31;
$color-dark-3: #0d1e26;

$color-accent-1: #9dc48b;
$color-accent-2: #f5f4b5;

$color-white: #fff;
$color-gray-light: #f7f7f7;
$color-gray-dark: #777;
$color-black: #000;
