//COLORS
$color-primary-pink: #f27181;
$color-primary-blue-1: #1d6e79;
$color-primary-blue-2:#004e66;

$color-dark-1:#00232f;  //use darken for darker shade of dark-2
// $color-dark-2:#0d1e26;

$color-accent-2: #9dc48b;
$color-accent-3: #f5f4b5;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;