.header {
  // height: 50vh;
  &__nav {
    background-color: $color-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;

    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      margin-right: 2rem;
    }
  }

  &__hero {
    &-logo {
      // width: 100%;
      width: 30vw;
      padding: 10rem 0;
      margin: 0 auto;
      &-box {
        background-image: url(/assets/2015/header-background-1.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        display: flex;
      }
    }
    &-trans {
      position: relative;
      background-color: $color-dark-2;
      transform: translateY(-3px);
      &-books {
        height: 10vw;
        display: flex;
        margin: 0 auto;
      }
    }
  }

  &__float {
    position: relative;
    &-box {
      @include center-position;
      border: 1.8rem solid $color-primary-pink;
      background-color: $color-dark-1;
      margin: 0 auto;
      width: 57.5rem;
    }
    &-question {
      padding: 3rem 10rem;
    }
  }
}
