.intro-box {
  position: relative;
  height: 50%;
  &__image {
    background-repeat: none;

    height: auto;
    display: block;

    &-box {
      position: relative;
      padding-top: 10rem;
      height: auto;

      &--body {
        position: relative;
        left: 0;
        bottom: 0;
        z-index: 1;
      }
      &--caitlin {
        position: absolute;
        top: 50%;
        left: 25%;
        bottom: 0;
        z-index: 2;
      }
      &--heart {
        position: absolute;
        top: 50%;
        right: 5rem;
      }
    }
  }
}
