*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background-color: $color-white;
}

.container {
  // display: grid;
  // grid-template-rows: 5rem; // 7 rows
  // grid-template-columns: ;
}
