.intro-box {
  &__text {
    &-heading,
    &-paragraph {
      color: $color-gray-dark;
      text-align: center;
    }
    
    &-heading {
      font-size: 5rem;
      font-family: 'Merriweather';
      font-style: italic;
      font-weight: 900;
      letter-spacing: 0.5rem;
    }
    &-paragraph {
      font-size: 3rem;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}
