// FONT STYES
$font-display: 'Merriweather';
$font-body: 'Raleway';

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.header {
  &__nav {
    font-size: $default-font-size;
    height: 4rem;

    @include respond(big-desktop) {
      font-size: $large-font-size;
    }

    &-link {
      color: $color-white;
      text-decoration: none;

      &:hover {
        color: $color-primary-pink;
      }
    }
  }

  &__float {
    &-question {
      font-family: $font-display;
      color: $color-gray-light;
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 3.7rem;
      letter-spacing: 2px;
      text-align: center;
    }
  }
}

//////////////////////////////////////////////////
/// INTRO BOX

.intro-box {
  &__text {
    &-heading,
    &-paragraph {
      color: $color-gray-dark;
      text-align: center;
    }

    &-heading {
      font-size: 5rem;
      font-family: $font-display;
      font-style: italic;
      font-weight: 900;
      letter-spacing: 0.5rem;
    }
    &-paragraph {
      font-size: 3rem;
      font-family: $font-body;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}
