.u-temporary-border-box-1 {
  border: 3px solid red;
}
.u-temporary-border-box-2 {
  border: 3px solid orange;
}
.u-temporary-border-box-3 {
  border: 3px solid yellow;
}
.u-temporary-border-box-4 {
  border: 3px solid green;
}
.u-temporary-border-box-5 {
  border: 3px solid blue;
}
.u-temporary-border-box-6 {
  border: 3px solid blueviolet;
}
