.section-intro {
  height: auto;
  background-color: $color-gray-light;
}

.section-services {
  // position: relative;
  height: auto;
  width: 100vw;
  background-color: $color-primary-blue-1;
}

.section-cta {
  height: 50rem;
}
